@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}
.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginate li {
  width: 40px;
  height: 40px;
  border: 1px  rgb(54, 193, 228);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.paginateActiveBtn {
  background-color: rgb(243, 162, 12);
  color: white;
}

.paginate :hover:not(.active) {
  background-color: rgb(25, 179, 179);
  color: white;
}
